<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
FORW
{% for i in b %}
{{i}}
{% endfor %}
<table border="1">
  <thead>
    <tr>
      <th>사번</th>
      <th>이름</th>
      <th>성별</th>
      <th>주소</th>
    </tr>
  </thead>
  <tbody>
    {% for item in c %}
    <tr>
      <td>{{ item.e_id }}</td>
      <td>{{ item.e_name }}</td>
      <td>{{ item.gen }}</td>
      <td>{{ item.addr }}</td>
    </tr>
    {% endfor %}
	</tbody>
</table>
</body>
</html>
